#u2745-4
{
	font-family: marvel-n7, sans-serif;
}

#u2731-4
{
	font-family: marvel-n7, sans-serif;
}

#u2750-4
{
	font-family: marvel-n7, sans-serif;
}

#u2724-4
{
	font-family: marvel-n7, sans-serif;
}

#u2719-4
{
	font-family: marvel-n7, sans-serif;
}

#u2739-4
{
	font-family: marvel-n7, sans-serif;
}

#u2758-4
{
	font-family: marvel-n7, sans-serif;
}

#u2827-6
{
	font-family: marvel-n4, sans-serif;
}

#u2710-9,#u2711-16,#u2816-4,#u2793-4
{
	font-family: marvel-n7, sans-serif;
}

#u2773-4
{
	font-family: marvel-n7, sans-serif;
}

#u2809-4
{
	font-family: marvel-n7, sans-serif;
}

#u2767-4
{
	font-family: marvel-n7, sans-serif;
}

#u2781-4
{
	font-family: marvel-n7, sans-serif;
}

#u2804-4
{
	font-family: marvel-n7, sans-serif;
}

#u2787-4
{
	font-family: marvel-n7, sans-serif;
}

