#u237-4,#u235-4,#u2479-7,#u1360-4
{
	font-family: marvel-n7, sans-serif;
}

#u1347-4
{
	font-family: marvel-n7, sans-serif;
}

#u1867-4
{
	font-family: marvel-n7, sans-serif;
}

#u1356-4
{
	font-family: marvel-n7, sans-serif;
}

#u1324-4
{
	font-family: marvel-n7, sans-serif;
}

#u1777-4
{
	font-family: marvel-n7, sans-serif;
}

#u1334-4
{
	font-family: marvel-n7, sans-serif;
}

#u456-6,#u458-6,#u455-4,#u457-8
{
	font-family: advent-pro-n5, sans-serif;
}

#u1291-9,#u1292-16,#u259-4,#u301-4
{
	font-family: marvel-n7, sans-serif;
}

#u295-4
{
	font-family: marvel-n7, sans-serif;
}

#u1888-4
{
	font-family: marvel-n7, sans-serif;
}

#u284-4
{
	font-family: marvel-n7, sans-serif;
}

#u272-4
{
	font-family: marvel-n7, sans-serif;
}

#u1801-4
{
	font-family: marvel-n7, sans-serif;
}

#u279-4
{
	font-family: marvel-n7, sans-serif;
}

#u2569-4
{
	font-family: asap-n7, sans-serif;
}

