#u1382-4
{
	font-family: marvel-n7, sans-serif;
}

#u1386-4
{
	font-family: marvel-n7, sans-serif;
}

#u1881-4
{
	font-family: marvel-n7, sans-serif;
}

#u1395-4
{
	font-family: marvel-n7, sans-serif;
}

#u1415-4
{
	font-family: marvel-n7, sans-serif;
}

#u1792-4
{
	font-family: marvel-n7, sans-serif;
}

#u1410-4
{
	font-family: marvel-n7, sans-serif;
}

#u1296-9,#u1297-16,#u370-4,#u382-4
{
	font-family: marvel-n7, sans-serif;
}

#u397-4
{
	font-family: marvel-n7, sans-serif;
}

#u1876-4
{
	font-family: marvel-n7, sans-serif;
}

#u410-4
{
	font-family: marvel-n7, sans-serif;
}

#u418-4
{
	font-family: marvel-n7, sans-serif;
}

#u1785-4
{
	font-family: marvel-n7, sans-serif;
}

#u406-4
{
	font-family: marvel-n7, sans-serif;
}

#u2482-4
{
	font-family: marvel-n7, sans-serif;
}

#u2484,#u2526,#u2533,#u2534,#u2537,#u2538,#u2539,#u2490,#u2490-3,#u2490-5,#u2527,#u2527-3,#u2527-5,#u2527-7,#u2528,#u2528-3,#u2528-5,#u2528-7,#u2529,#u2529-3,#u2530,#u2530-2,#u2530-3,#u2531,#u2531-2,#u2531-4,#u2531-5,#u2531-7,#u2531-8,#u2531-10,#u2531-11,#u2531-13,#u2531-14,#u2531-17,#u2531-18,#u2531-19,#u2531-20,#u2532-23
{
	font-family: marvel-n4, sans-serif;
}

