#u1382-4
{
	font-family: marvel-n7, sans-serif;
}

#u1386-4
{
	font-family: marvel-n7, sans-serif;
}

#u1881-4
{
	font-family: marvel-n7, sans-serif;
}

#u1395-4
{
	font-family: marvel-n7, sans-serif;
}

#u1415-4
{
	font-family: marvel-n7, sans-serif;
}

#u1792-4
{
	font-family: marvel-n7, sans-serif;
}

#u1410-4
{
	font-family: marvel-n7, sans-serif;
}

#u1296-9,#u1297-16,#u370-4,#u382-4
{
	font-family: marvel-n7, sans-serif;
}

#u397-4
{
	font-family: marvel-n7, sans-serif;
}

#u1876-4
{
	font-family: marvel-n7, sans-serif;
}

#u410-4
{
	font-family: marvel-n7, sans-serif;
}

#u418-4
{
	font-family: marvel-n7, sans-serif;
}

#u1785-4
{
	font-family: marvel-n7, sans-serif;
}

#u406-4
{
	font-family: marvel-n7, sans-serif;
}

#u2500-5,#u2500-7,#u2500-9,#u2500-10,#u2500-12,#u2565-22
{
	font-family: marvel-n4, sans-serif;
}

#u2439-4,#u2500-4,#u2501-14,#u2502-12
{
	font-family: marvel-n7, sans-serif;
}

#u2566-4
{
	font-family: asap-n7, sans-serif;
}

