.version.l__quipe /* version checker */
{
	color: #000002;
	background-color: #1130CF;
}

.html
{
	background: #FFFFFF url("../images/fresh-green-blur.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1080px;
	min-height: 2685.112088232925px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -30px;
	padding-top: 50px;
}

#u1367
{
	z-index: 80;
	height: 50px;
}

#u1367-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 80;
	top: 0px;
}

#u1418
{
	z-index: 124;
	top: 6px;
	left: 76px;
}

#menuu1368
{
	z-index: 81;
	width: 700px;
	top: 7px;
	left: 261px;
}

#u1376
{
	width: 91px;
	min-height: 35px;
	margin-right: -10000px;
}

#u1379
{
	width: 91px;
	padding-bottom: 13px;
}

#u1379:hover
{
	margin: 0px;
}

#u1382-4
{
	width: 55px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u1379:hover #u1382-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1383
{
	width: 96px;
	min-height: 35px;
	margin-right: -10000px;
	left: 93px;
}

#u1384
{
	width: 96px;
	padding-bottom: 13px;
}

#u1379.MuseMenuActive,#u1384:hover
{
	margin: 0px;
}

#u1386-4
{
	width: 60px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u1379.MuseMenuActive #u1382-4,#u1384:hover #u1386-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1877
{
	width: 107px;
	min-height: 35px;
	margin-right: -10000px;
	left: 191px;
}

#u1880
{
	width: 107px;
	padding-bottom: 13px;
}

#u1384.MuseMenuActive,#u1880:hover
{
	margin: 0px;
}

#u1881-4
{
	width: 71px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u1384.MuseMenuActive #u1386-4,#u1880:hover #u1881-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1390
{
	width: 95px;
	min-height: 35px;
	margin-right: -10000px;
	left: 300px;
}

#u1393
{
	width: 95px;
	padding-bottom: 13px;
}

#u1880.MuseMenuActive,#u1393:hover
{
	margin: 0px;
}

#u1395-4
{
	width: 59px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u1880.MuseMenuActive #u1881-4,#u1393:hover #u1395-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1411
{
	width: 109px;
	min-height: 35px;
	margin-right: -10000px;
	left: 397px;
}

#u1412
{
	width: 109px;
	padding-bottom: 13px;
}

#u1393.MuseMenuActive,#u1412:hover
{
	margin: 0px;
}

#u1415-4
{
	width: 73px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u1393.MuseMenuActive #u1395-4,#u1412:hover #u1415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1788
{
	width: 94px;
	min-height: 35px;
	margin-right: -10000px;
	left: 508px;
}

#u1789
{
	width: 94px;
	padding-bottom: 13px;
}

#u1412.MuseMenuActive,#u1789:hover
{
	margin: 0px;
}

#u1792-4
{
	width: 59px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u1412.MuseMenuActive #u1415-4,#u1789:hover #u1792-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1404
{
	width: 96px;
	min-height: 35px;
	margin-right: -10000px;
	left: 604px;
}

#u1407
{
	width: 96px;
	padding-bottom: 13px;
}

#u1789.MuseMenuActive,#u1407:hover
{
	margin: 0px;
}

#u1410-4
{
	width: 61px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u1789.MuseMenuActive #u1792-4,#u1407:hover #u1410-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1407.MuseMenuActive #u1410-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1975
{
	z-index: 126;
	width: 28px;
	min-height: 18px;
	margin-left: 1052px;
}

#u2496-4
{
	z-index: 337;
	width: 1080px;
	min-height: 50px;
	background-color: transparent;
	line-height: 60px;
	font-size: 50px;
	color: #754C24;
	text-align: center;
	font-family: marvel, sans-serif;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
}

#pu1127
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 21px;
}

#u1127
{
	z-index: 293;
	height: 485px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u1127-bw
{
	z-index: 293;
	height: 485px;
}

#u1129
{
	z-index: 294;
	width: 1080px;
	height: 485px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 100px;
	background: #FFFFFF url("../images/img_0181-u1129-fr.jpg") no-repeat left top;
	background-size: cover;
}

#ppamphletu980
{
	width: 0.01px;
	margin-left: 358px;
	margin-top: 52px;
}

#pamphletu980
{
	z-index: 134;
	width: 0.01px;
	height: 1742px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u981
{
	z-index: 135;
	width: 722px;
	position: relative;
	margin-right: -10000px;
}

#u987
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	left: 73px;
	background: transparent url("../images/samy-u987-fr.png") no-repeat center center;
	background-size: cover;
}

#u982
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	top: 512px;
	left: 252px;
	background: transparent url("../images/manon-u982-fr.png") no-repeat center center;
	background-size: cover;
}

#u983
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	top: 257px;
	left: 251px;
	background: transparent url("../images/audrey-u983-fr.png") no-repeat center center;
	background-size: cover;
}

#u989
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	top: 764px;
	left: 249px;
	background: transparent url("../images/virginie-u989-fr.png") no-repeat center center;
	background-size: cover;
}

#u986
{
	position: absolute;
	width: 220px;
	height: 218px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	top: 257px;
	background: transparent url("../images/sybille-u986-fr.png") no-repeat center center;
	background-size: cover;
}

#u985
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	top: 512px;
	background: transparent url("../images/laurent-u985-fr.png") no-repeat center center;
	background-size: cover;
}

#u984
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	top: 764px;
	background: transparent url("../images/nicolas-u984-fr.png") no-repeat center center;
	background-size: cover;
}

#u988
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	top: 1017px;
	background: transparent url("../images/victoria-u988-fr.png") no-repeat center center;
	background-size: cover;
}

#u1476
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	top: 1017px;
	left: 249px;
	background: transparent url("../images/gwendoline-u1476-fr.png") no-repeat center center;
	background-size: cover;
}

#u1609
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	top: 260px;
	left: 502px;
	background: transparent url("../images/noelly-u1609-fr.png") no-repeat center center;
	background-size: cover;
}

#u1614
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	top: 764px;
	left: 502px;
	background: transparent url("../images/diego-u1614-fr.png") no-repeat center center;
	background-size: cover;
}

#u1628
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	top: 1269px;
	background: transparent url("../images/jodie-u1628-fr.png") no-repeat center center;
	background-size: cover;
}

#u1630
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	top: 1269px;
	left: 249px;
	background: transparent url("../images/emile-u1630-fr.png") no-repeat center center;
	background-size: cover;
}

#u1632
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	top: 1522px;
	background: transparent url("../images/in%c3%a8s-u1632-fr.png") no-repeat center center;
	background-size: cover;
}

#u987.PamphletThumbSelected,#u982.PamphletThumbSelected,#u983.PamphletThumbSelected,#u989.PamphletThumbSelected,#u986.PamphletThumbSelected,#u985.PamphletThumbSelected,#u984.PamphletThumbSelected,#u988.PamphletThumbSelected,#u1476.PamphletThumbSelected,#u1609.PamphletThumbSelected,#u1614.PamphletThumbSelected,#u1628.PamphletThumbSelected,#u1630.PamphletThumbSelected,#u1632.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px;
	background-size: cover;
}

#u994
{
	position: absolute;
	width: 190px;
	top: 275px;
	left: 15px;
}

#u994popup
{
	z-index: 150;
}

#u1020
{
	z-index: 151;
	width: 168px;
	height: 68px;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: -260px;
	left: 72px;
	padding: 61px 11px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1023-4
{
	z-index: 152;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u1024-4
{
	z-index: 156;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	color: #8CC63F;
	margin-top: 2px;
	position: relative;
}

#u1010
{
	z-index: 160;
	width: 168px;
	height: 78px;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	margin-bottom: -252px;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	left: 252px;
	padding: 60px 11px 52px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1012-4
{
	z-index: 161;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
}

#u1011-4
{
	z-index: 165;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	color: #8CC63F;
	margin-top: 12px;
	position: relative;
}

#u1005
{
	z-index: 169;
	width: 168px;
	height: 78px;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 249px;
	padding: 60px 11px 52px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1008-4
{
	z-index: 170;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
}

#u1009-4
{
	z-index: 174;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	color: #8CC63F;
	margin-top: 12px;
	position: relative;
}

#u995
{
	z-index: 178;
	width: 168px;
	height: 53px;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	margin-bottom: -504px;
	position: relative;
	margin-right: -10000px;
	margin-top: 504px;
	left: 251px;
	padding: 69px 11px 68px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u997-4
{
	z-index: 179;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
}

#u996-4
{
	z-index: 183;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	color: #8CC63F;
	margin-top: 2px;
	position: relative;
}

#u1030
{
	z-index: 187;
	width: 168px;
	height: 53px;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	padding: 68px 11px 69px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1033-4
{
	z-index: 188;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
}

#u1034-4
{
	z-index: 192;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	color: #8CC63F;
	margin-top: 2px;
	position: relative;
}

#u1015
{
	z-index: 196;
	width: 168px;
	height: 78px;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	margin-bottom: -252px;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	padding: 56px 11px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1016-6
{
	z-index: 197;
	width: 168px;
	min-height: 53px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
}

#u1019-4
{
	z-index: 203;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	color: #8CC63F;
	margin-top: 7px;
	position: relative;
}

#u1000
{
	z-index: 207;
	width: 168px;
	height: 98px;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	margin-bottom: -504px;
	position: relative;
	margin-right: -10000px;
	margin-top: 504px;
	padding: 46px 11px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1001-6
{
	z-index: 208;
	width: 168px;
	min-height: 49px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
}

#u1004-4
{
	z-index: 214;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #8CC63F;
	margin-top: 13px;
	position: relative;
}

#u1025
{
	z-index: 218;
	width: 168px;
	height: 88px;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	margin-bottom: -757px;
	position: relative;
	margin-right: -10000px;
	margin-top: 757px;
	padding: 51px 11px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1028-6
{
	z-index: 219;
	width: 168px;
	min-height: 52px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
}

#u1029-4
{
	z-index: 225;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	color: #8CC63F;
	margin-top: 2px;
	position: relative;
}

#u1477
{
	z-index: 229;
	width: 168px;
	height: 84px;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	margin-bottom: -757px;
	position: relative;
	margin-right: -10000px;
	margin-top: 757px;
	left: 247px;
	padding: 53px 11px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1481-4
{
	z-index: 230;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
}

#u1482-6
{
	z-index: 234;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	color: #8CC63F;
	margin-top: 2px;
	position: relative;
}

#u1610
{
	z-index: 240;
	width: 168px;
	height: 78px;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	left: 506px;
	padding: 56px 11px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1637-4
{
	z-index: 241;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
}

#u1638-4
{
	z-index: 245;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	color: #8CC63F;
	margin-top: 12px;
	position: relative;
}

#u1615
{
	z-index: 249;
	width: 168px;
	height: 87px;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	margin-bottom: -504px;
	position: relative;
	margin-right: -10000px;
	margin-top: 504px;
	left: 502px;
	padding: 47px 11px 56px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1639-6
{
	z-index: 250;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
}

#u1640-4
{
	z-index: 256;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	color: #8CC63F;
	margin-top: 21px;
	position: relative;
}

#u1629
{
	z-index: 260;
	width: 168px;
	height: 94px;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	margin-bottom: -1009px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1009px;
	padding: 56px 11px 40px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1647-6
{
	z-index: 261;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
}

#u1648-4
{
	z-index: 267;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	color: #8CC63F;
	margin-top: 12px;
	position: relative;
}

#u1631
{
	z-index: 271;
	width: 168px;
	height: 94px;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	margin-bottom: -1009px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1009px;
	left: 246px;
	padding: 56px 11px 40px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1649-6
{
	z-index: 272;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
}

#u1650-4
{
	z-index: 278;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	color: #8CC63F;
	margin-top: 12px;
	position: relative;
}

#u1633
{
	z-index: 282;
	width: 168px;
	height: 78px;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	margin-bottom: -1263px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1263px;
	padding: 56px 11px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1663-6
{
	z-index: 283;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	position: relative;
}

#u1664-4
{
	z-index: 289;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	color: #8CC63F;
	margin-top: 12px;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1733
{
	z-index: 127;
	width: 225px;
	height: 228px;
	border-color: #000000;
	background-color: #8CC63F;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#pu1674
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1484px;
}

#u1674
{
	z-index: 133;
	height: 217px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u1674-bw
{
	z-index: 133;
	height: 217px;
}

#u1681
{
	z-index: 295;
	width: 318px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 100px;
	background: #FFFFFF url("../images/img_0200.jpg") no-repeat center center;
	background-size: cover;
}

#u1726-6
{
	z-index: 301;
	width: 318px;
	min-height: 52px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	color: #8CC63F;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#pu1675
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1229px;
}

#u1675
{
	z-index: 132;
	height: 217px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u1675-bw
{
	z-index: 132;
	height: 217px;
}

#u1682
{
	z-index: 296;
	width: 318px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 100px;
	background: #FFFFFF url("../images/img_0227.jpg") no-repeat center top;
	background-size: cover;
}

#u1728-6
{
	z-index: 307;
	width: 318px;
	min-height: 52px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	line-height: 20px;
	font-size: 17px;
	color: #8CC63F;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#pu1676
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -976px;
}

#u1676
{
	z-index: 131;
	height: 217px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u1676-bw
{
	z-index: 131;
	height: 217px;
}

#u1690
{
	z-index: 298;
	width: 318px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 100px;
	background: #FFFFFF url("../images/img_0206.jpg") no-repeat center center;
	background-size: cover;
}

#u1729-6
{
	z-index: 313;
	width: 318px;
	min-height: 52px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	color: #8CC63F;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#pu1677
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -724px;
}

#u1677
{
	z-index: 130;
	height: 217px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u1677-bw
{
	z-index: 130;
	margin-top: 1px;
	height: 217px;
}

#u1689
{
	z-index: 297;
	width: 318px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 100px;
	background: #FFFFFF url("../images/img_0208.jpg") no-repeat center top;
	background-size: cover;
}

#u1730-6
{
	z-index: 319;
	width: 318px;
	min-height: 52px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	color: #8CC63F;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#pu1678
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -472px;
}

#u1678
{
	z-index: 129;
	height: 217px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u1678-bw
{
	z-index: 129;
	height: 217px;
}

#u1691
{
	z-index: 299;
	width: 318px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 100px;
	background: #FFFFFF url("../images/img_0216.jpg") no-repeat center top;
	background-size: cover;
}

#u1731-6
{
	z-index: 325;
	width: 318px;
	min-height: 52px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	color: #8CC63F;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#pu1679
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -219px;
}

#u1679
{
	z-index: 128;
	height: 217px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u1679-bw
{
	z-index: 128;
	height: 217px;
}

#u1692
{
	z-index: 300;
	width: 318px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 100px;
	background: #FFFFFF url("../images/img_0225.jpg") no-repeat center top;
	background-size: cover;
}

#u1732-6
{
	z-index: 331;
	width: 318px;
	min-height: 67px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	color: #8CC63F;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1726-2,#u1729-2,#u1730-2,#u1731-2,#u1732-2
{
	font-size: 20px;
	line-height: 24px;
}

#u1726-4,#u1729-4,#u1730-4,#u1731-4,#u1732-4
{
	font-size: 17px;
	line-height: 20px;
}

#pu368
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 51px;
}

#u368,#u368-bw
{
	z-index: 2;
	height: 200px;
}

#u1288
{
	z-index: 51;
	width: 231px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 100px;
}

#u1296-9
{
	z-index: 53;
	width: 336px;
	min-height: 150px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 444px;
}

#u1297-16
{
	z-index: 62;
	width: 287px;
	min-height: 150px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 893px;
}

#u1297-7,#u1297-14
{
	padding-left: 15px;
}

#u1297-7.rtl-list,#u1297-14.rtl-list
{
	padding-left: 0px;
	padding-right: 15px;
}

#u1297-7 > li:before,#u1297-14 > li:before
{
	margin-right: 5px;
}

#u1297-7.rtl-list > li:before,#u1297-14.rtl-list > li:before
{
	margin-right: 0px;
	margin-left: 5px;
}

#u1298
{
	z-index: 78;
	width: 189px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 500px;
}

#pu369
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u369
{
	z-index: 3;
	padding-bottom: 6px;
}

#u369_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1079px;
	left: -100px;
}

#u370-4
{
	z-index: 4;
	width: 384px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 89px;
}

#u369-bw
{
	z-index: 3;
	margin-bottom: -1px;
	margin-top: 1px;
	height: 25px;
}

#menuu371
{
	z-index: 8;
	width: 598px;
	margin-right: -10000px;
	left: 468px;
}

#u379
{
	width: 78px;
	min-height: 30px;
	margin-right: -10000px;
}

#u380
{
	width: 78px;
	padding-bottom: 13px;
}

#u1407.MuseMenuActive,#u380:hover
{
	margin: 0px;
}

#u382-4
{
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u380:hover #u382-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u393
{
	width: 82px;
	min-height: 30px;
	margin-right: -10000px;
	left: 80px;
}

#u394
{
	width: 82px;
	padding-bottom: 13px;
}

#u380.MuseMenuActive,#u394:hover
{
	margin: 0px;
}

#u397-4
{
	width: 47px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u380.MuseMenuActive #u382-4,#u394:hover #u397-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1870
{
	width: 91px;
	min-height: 30px;
	margin-right: -10000px;
	left: 164px;
}

#u1873
{
	width: 91px;
	padding-bottom: 13px;
}

#u394.MuseMenuActive,#u1873:hover
{
	margin: 0px;
}

#u1876-4
{
	width: 56px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u394.MuseMenuActive #u397-4,#u1873:hover #u1876-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u407
{
	width: 81px;
	min-height: 30px;
	margin-right: -10000px;
	left: 257px;
}

#u408
{
	width: 81px;
	padding-bottom: 13px;
}

#u1873.MuseMenuActive,#u408:hover
{
	margin: 0px;
}

#u410-4
{
	width: 46px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u1873.MuseMenuActive #u1876-4,#u408:hover #u410-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u414
{
	width: 92px;
	min-height: 30px;
	margin-right: -10000px;
	left: 340px;
}

#u415
{
	width: 92px;
	padding-bottom: 13px;
}

#u408.MuseMenuActive,#u415:hover
{
	margin: 0px;
}

#u418-4
{
	width: 58px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u408.MuseMenuActive #u410-4,#u415:hover #u418-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1781
{
	width: 80px;
	min-height: 30px;
	margin-right: -10000px;
	left: 434px;
}

#u1782
{
	width: 80px;
	padding-bottom: 13px;
}

#u415.MuseMenuActive,#u1782:hover
{
	margin: 0px;
}

#u1785-4
{
	width: 46px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u415.MuseMenuActive #u418-4,#u1782:hover #u1785-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u400
{
	width: 82px;
	min-height: 30px;
	margin-right: -10000px;
	left: 516px;
}

#u403
{
	width: 82px;
	padding-bottom: 13px;
}

#u1782.MuseMenuActive,#u403:hover
{
	margin: 0px;
}

#u403.MuseMenuActive
{
	margin: 0px;
}

#u406-4
{
	width: 48px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u1782.MuseMenuActive #u1785-4,#u403:hover #u406-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u403.MuseMenuActive #u406-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1080px;
	padding-bottom: 30px;
}

#page .verticalspacer
{
	clear: both;
}

