.version.payement /* version checker */
{
	color: #0000EA;
	background-color: #B06228;
}

.html
{
	background: #FFFFFF url("../images/fresh-green-blur.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1080px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -30px;
	padding-top: 50px;
}

#u2709
{
	z-index: 80;
	height: 50px;
}

#u2709-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 80;
	top: 0px;
}

#u2814
{
	z-index: 124;
	top: 6px;
	left: 76px;
}

#menuu2712
{
	z-index: 81;
	width: 700px;
	top: 7px;
	left: 261px;
}

#u2741
{
	width: 91px;
	min-height: 35px;
	margin-right: -10000px;
}

#u2744
{
	width: 91px;
	padding-bottom: 13px;
}

#u2744:hover
{
	margin: 0px;
}

#u2745-4
{
	width: 55px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u2744:hover #u2745-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2727
{
	width: 96px;
	min-height: 35px;
	margin-right: -10000px;
	left: 93px;
}

#u2728
{
	width: 96px;
	padding-bottom: 13px;
}

#u2744.MuseMenuActive,#u2728:hover
{
	margin: 0px;
}

#u2731-4
{
	width: 60px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u2744.MuseMenuActive #u2745-4,#u2728:hover #u2731-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2748
{
	width: 107px;
	min-height: 35px;
	margin-right: -10000px;
	left: 191px;
}

#u2749
{
	width: 107px;
	padding-bottom: 13px;
}

#u2728.MuseMenuActive,#u2749:hover
{
	margin: 0px;
}

#u2750-4
{
	width: 71px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u2728.MuseMenuActive #u2731-4,#u2749:hover #u2750-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2720
{
	width: 95px;
	min-height: 35px;
	margin-right: -10000px;
	left: 300px;
}

#u2721
{
	width: 95px;
	padding-bottom: 13px;
}

#u2749.MuseMenuActive,#u2721:hover
{
	margin: 0px;
}

#u2724-4
{
	width: 59px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u2749.MuseMenuActive #u2750-4,#u2721:hover #u2724-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2713
{
	width: 109px;
	min-height: 35px;
	margin-right: -10000px;
	left: 397px;
}

#u2716
{
	width: 109px;
	padding-bottom: 13px;
}

#u2721.MuseMenuActive,#u2716:hover
{
	margin: 0px;
}

#u2719-4
{
	width: 73px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 18px;
}

#u2721.MuseMenuActive #u2724-4,#u2716:hover #u2719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2734
{
	width: 94px;
	min-height: 35px;
	margin-right: -10000px;
	left: 508px;
}

#u2737
{
	width: 94px;
	padding-bottom: 13px;
}

#u2716.MuseMenuActive,#u2737:hover
{
	margin: 0px;
}

#u2739-4
{
	width: 59px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u2716.MuseMenuActive #u2719-4,#u2737:hover #u2739-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2755
{
	width: 96px;
	min-height: 35px;
	margin-right: -10000px;
	left: 604px;
}

#u2756
{
	width: 96px;
	padding-bottom: 13px;
}

#u2737.MuseMenuActive,#u2756:hover
{
	margin: 0px;
}

#u2758-4
{
	width: 61px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u2737.MuseMenuActive #u2739-4,#u2756:hover #u2758-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2756.MuseMenuActive #u2758-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2707
{
	z-index: 126;
	width: 28px;
	min-height: 18px;
	margin-left: 1052px;
}

#ppu2826
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 7px;
}

#pu2826
{
	z-index: 128;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 100px;
}

#u2826
{
	z-index: 0;
	width: 1080px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu2827-6
{
	width: 0.01px;
	position: relative;
	left: 17px;
	padding-top: 56px;
	z-index: 2;
	padding-bottom: 56px;
}

#u2827-6
{
	z-index: 129;
	width: 1045px;
	min-height: 88px;
	margin-right: -10000px;
}

#u2825,#u2825-bw
{
	z-index: 127;
	height: 200px;
}

#pu2706
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 25px;
}

#u2706,#u2706-bw
{
	z-index: 2;
	height: 200px;
}

#u2817
{
	z-index: 51;
	width: 231px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 100px;
}

#u2710-9
{
	z-index: 53;
	width: 336px;
	min-height: 150px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 444px;
}

#u2711-16
{
	z-index: 62;
	width: 287px;
	min-height: 150px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 893px;
}

#u2711-7,#u2711-14
{
	padding-left: 15px;
}

#u2711-7.rtl-list,#u2711-14.rtl-list
{
	padding-left: 0px;
	padding-right: 15px;
}

#u2711-7 > li:before,#u2711-14 > li:before
{
	margin-right: 5px;
}

#u2711-7.rtl-list > li:before,#u2711-14.rtl-list > li:before
{
	margin-right: 0px;
	margin-left: 5px;
}

#u2812
{
	z-index: 78;
	width: 189px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 500px;
}

#pu2705
{
	width: 0.01px;
	margin-left: -100px;
}

#u2705
{
	z-index: 3;
	padding-bottom: 6px;
}

#u2705_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1079px;
	left: -100px;
}

#u2816-4
{
	z-index: 4;
	width: 384px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 89px;
}

#u2705-bw
{
	z-index: 3;
	margin-bottom: -1px;
	height: 25px;
}

#menuu2762
{
	z-index: 8;
	width: 598px;
	margin-right: -10000px;
	left: 468px;
}

#u2791
{
	width: 78px;
	min-height: 30px;
	margin-right: -10000px;
}

#u2792
{
	width: 78px;
	padding-bottom: 13px;
}

#u2756.MuseMenuActive,#u2792:hover
{
	margin: 0px;
}

#u2793-4
{
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u2792:hover #u2793-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2770
{
	width: 82px;
	min-height: 30px;
	margin-right: -10000px;
	left: 80px;
}

#u2771
{
	width: 82px;
	padding-bottom: 13px;
}

#u2792.MuseMenuActive,#u2771:hover
{
	margin: 0px;
}

#u2773-4
{
	width: 47px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u2792.MuseMenuActive #u2793-4,#u2771:hover #u2773-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2805
{
	width: 91px;
	min-height: 30px;
	margin-right: -10000px;
	left: 164px;
}

#u2806
{
	width: 91px;
	padding-bottom: 13px;
}

#u2771.MuseMenuActive,#u2806:hover
{
	margin: 0px;
}

#u2809-4
{
	width: 56px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u2771.MuseMenuActive #u2773-4,#u2806:hover #u2809-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2763
{
	width: 81px;
	min-height: 30px;
	margin-right: -10000px;
	left: 257px;
}

#u2764
{
	width: 81px;
	padding-bottom: 13px;
}

#u2806.MuseMenuActive,#u2764:hover
{
	margin: 0px;
}

#u2767-4
{
	width: 46px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u2806.MuseMenuActive #u2809-4,#u2764:hover #u2767-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2777
{
	width: 92px;
	min-height: 30px;
	margin-right: -10000px;
	left: 340px;
}

#u2778
{
	width: 92px;
	padding-bottom: 13px;
}

#u2764.MuseMenuActive,#u2778:hover
{
	margin: 0px;
}

#u2781-4
{
	width: 58px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u2764.MuseMenuActive #u2767-4,#u2778:hover #u2781-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2798
{
	width: 80px;
	min-height: 30px;
	margin-right: -10000px;
	left: 434px;
}

#u2801
{
	width: 80px;
	padding-bottom: 13px;
}

#u2778.MuseMenuActive,#u2801:hover
{
	margin: 0px;
}

#u2804-4
{
	width: 46px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u2778.MuseMenuActive #u2781-4,#u2801:hover #u2804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2784
{
	width: 82px;
	min-height: 30px;
	margin-right: -10000px;
	left: 516px;
}

#u2785
{
	width: 82px;
	padding-bottom: 13px;
}

#u2801.MuseMenuActive,#u2785:hover
{
	margin: 0px;
}

#u2785.MuseMenuActive
{
	margin: 0px;
}

#u2787-4
{
	width: 48px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
	left: 17px;
}

#u2801.MuseMenuActive #u2804-4,#u2785:hover #u2787-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2785.MuseMenuActive #u2787-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1080px;
	padding-bottom: 30px;
}

#page .verticalspacer
{
	clear: both;
}

